* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ================= HEADER ================= */

.header {
  background-color: #f15a24;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo h1 {
  text-transform: lowercase;
  margin-bottom: 10px;
}

/* ================= NAVIGATION ================= */

.nav {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap:  30px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 10px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.nav a.active {
  text-decoration: underline;
}

/* ================= MAIN ================= */

.main {
  padding: 40px 60px;
  background-color: white;
}

.page-title {
  margin-bottom: 30px;
  color: #666;

  display: inline-block;        /* allows shape */
  margin-bottom: 30px;

  background-color: #f15a24;    /* ORANGE background */
  color: white;                 /* text color */

  padding: 14px 40px;           /* size of the shape */
  border-radius: 20px;          /* rounded shape */

  font-size: 32px;
  font-weight: bold;

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* shadow */
}
}
 

/* ================= TRIP GRID (FLEXBOX) ================= */
.trip-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}

/* Each card = column */
.trip-card {
  flex: 0 0 45%;          /* 2 columns */
  display: flex;
  flex-direction: column; /* IMAGE ABOVE TEXT */
  gap: 10px;
}

/* Images */
.trip-card img {
  width: 30%;
  height: auto;
  border-radius: 6px;
}

/* Caption text */
.caption {
  background: #555;
  color: white;
  padding: 6px 10px;
  font-size: 14px;
  width: fit-content;
}

/* Text-only card */
.text-card {
  justify-content: center;
  font-size: 16px;
}
.about-text p {
  font-size: 100px;   /* BIG */

}
  .stars {
  color: gold;      /* star color */
  font-size: 20px;  /* star size */
}
.trip-card.info {
 background-color: #e8f1ff;
  padding: 20px;
  border-radius: 10px;
}



/* ================= FOOTER ================= */

.footer {
  margin-top: 50px;
  padding: 30px 40px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social i {
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
}

.contact {
  text-align: right;
  font-size: 14px;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
  .main {
    padding: 30px 20px;
  }

  .trip-card {
    flex: 100%;                 /* 1 column on mobile */
  }

  .footer {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .contact {
    text-align: center;
  }
}
