* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  background-color: #f15a24;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo h1 {
  text-transform: lowercase;
  margin-bottom: 10px;
}

/* Navigation */
.nav {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-top: 1px solid rgba(255,255,255,0.4);
  padding-top: 10px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.nav a.active {
  text-decoration: underline;
}

/* Main */
.main {
  padding: 40px 60px;
  background-color: white;
}

.page-title {
  margin-bottom: 30px;
  color: #666;
  display: inline-block;        /* allows shape */
  margin-bottom: 30px;

  background-color: #f15a24;    /* ORANGE background */
  color: white;                 /* text color */

  padding: 14px 40px;           /* size of the shape */
  border-radius: 20px;          /* rounded shape */

  font-size: 32px;
  font-weight: bold;

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* shadow */
}

/* About Section */
.about {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.about-image img {
  width: 1200px;
  max-width: 100%;
}

.about-text {
  font-size: 14px;
  line-height: 1.8;
  color: #333;
}

.about-text p {
  margin-bottom: 15px;
}

/* Footer */
.footer {
  margin-top: 50px;
  padding: 30px 40px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social i {
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
}

.contact {
  text-align: right;
  font-size: 14px;
}
