* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  background-color: #f15a24;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo h1 {
  text-transform: lowercase;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.nav a:hover {
  text-decoration: underline;
}
.slideshow-container {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.slide {
  width: 50%;
  display: none;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.prev { left: 0; }
.next { right: 0; }



/* Main */
.main {
  padding: 40px;
  background-color: white;
}

.intro {
  margin-bottom: 50px;
  color: #555;
   font-size:50px;
}

.places h3 {
  margin-bottom: 15px;
  color: #333;
  font-size:50px;

}

.image-box {
  width: 250px;
  height: 200px;
  background-color: #e0e0e0;
   margin: 0 auto;
}
.page-title {
  margin-bottom: 30px;
  color: #666;
display: inline-block;        /* allows shape */
  margin-bottom: 20px;

  background-color: #f15a24;    /* ORANGE background */
  color: white;                 /* text color */

  padding: 14px 40px;           /* size of the shape */
  border-radius: 20px;          /* rounded shape */

  font-size: 32px;
  font-weight: bold;

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* shadow */
}
 .main {
  padding: 40px 60px;
  background-color: white;
}




/* Footer */
.footer {
  margin-top: 60px;
  padding: 30px 40px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social i {
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
}

.contact {
  text-align: right;
  font-size: 14px;
  color: #333;
}
